html {
    background-color: #52eb34;
}

html * {
    font-family: "Candara", sans-serif;
}

button:hover {
    background-color: lightblue;
}

#header{
    width: 1592px;
    height: 70px;
    text-align: center;
    border: 3px solid blue;
    background-color: #bfbfbf;
}

#header h1 {
    position: relative;
    font-size: 36px;
    font-weight: bold;
    bottom: 5px;
    color: darkgreen;
    text-shadow: 2px 2px 2px gray;
}

footer{
    width: 1592px;
    height: 50px;
    border: 3px solid blue;
    text-align: center;
    font-size: 24px;
    margin-top: 10px;
    padding-bottom: 15px;
    background-color: #bfbfbf;
}

footer p{
    position: relative;
    text-shadow: 2px 2px 2px gray;
    bottom: 10px;
}

/* 
    Song search CSS
*/

.song_search_hide{
    display: none;
}

#song_search{
    width: 400px;
    height: 600px;
    margin-top: 10px;
    border: 3px solid blue;
    background-color: lightgray;
}

#song_search h2{
    text-align: center;
    font-size: 36px;
}

.playlist_button_hide{
    display: none;
}

#playlist_button{
    position: absolute;
    margin-left: 600px;
    top: 25px;
    padding: 10px;
    border: 3px solid blue;
}

#credit_button{
    position: absolute;
    margin-left: 675px;
    top: 25px;
    padding: 10px;
    border: 3px solid blue;
}

#credit_popup{
    position: absolute;
    margin-left: 1400px;
    padding: 0px;
    top: 65px;
    z-index: 1;
    white-space: nowrap;
    border: 1px solid black;
    background-color: lightgray;
}

.credit_popup_hide{
    display: none;
}

.close_view_hide{
    display: none;
}

#close_view_button{
    position: absolute;
    margin-left: 575px;
    top: 25px;
    padding: 10px;
    border: 3px solid blue;
}

.close_view_hide2{
    display: none;
}

#close_view_button2{
    position: absolute;
    margin-left: 575px;
    top: 25px;
    padding: 10px;
    border: 3px solid blue;
}

#filters{
    position: absolute;
    border: 3px solid blue;
    margin-left: 100px;
}

#search_table{
    position: absolute;
    bottom: 10px;
    width: 100%;
    white-space: nowrap;
}

#search_table thead{
    position: absolute;
    border-bottom: 30px;
    top: -25px;
    display: block;
}

#search_table tbody{
    height: 500px;
    width: 100%;
    overflow-y: scroll;
    float: left;
}

#search_table tbody *{
    border: 3px solid blue;
}

button#apply_filter, button#clear_filter{
    width: 100px;
    padding: 5px;
    border: 3px solid blue;
}

button#apply_filter {
    margin-left: 15px;
}

.hide_add_popup{
    display: none;
}

#add_popup{
    padding: 10px;
    position: absolute;
    font-size: 24px;
    right: 1225px;
    bottom: 100px;
    border: 3px solid blue;
    background-color: lightblue;
}

#search{
    width: 1150px;
    height: 600px;
    border: 3px solid blue;
    position: absolute;
    left: 450px;
    top: 80px;
    text-align: center;
    background-color: lightgray;
    margin-top: 14px;
}
#search h2{
    font-size: 36px;
    position: relative;
    bottom: 20px;
    text-align: center;
}

#table_title{
    padding-left: 305px;
    padding-right: 270px;
}

#table_artist{
    padding-left: 100px;
    padding-right: 20px;
}
#table_year{
    padding-left: 50px;
    padding-right: 25px;
}
#table_genre{
    padding-left: 25px;
    padding-right: 0px;
}
#table_popular{
    padding-left: 45px;
    padding-right: 20px;
}

/*  
    Song details CSS
    In a pretty good state atm, 
    just need to add the radar and the song info + analysis data from API
*/



.song_details_hide{
    display: none;
}


#song_details{
    margin-top: 10px;
}

#song_info{
    width: 400px;
    height: 600px;
    border: 3px solid blue;
    background-color: lightgray;
}

#song_info h1, h2{ 
    margin-left: 12px;
    font-size: 36px;
}

#song_info_text{
    font-size: 24px;
}

#analysis_data_text{
    font-size: 24px;
    position: relative;
    bottom: 15px;
}

#radar_chart{
    position: absolute;
    width: 1050px;
    height: 600px;
    border: 3px solid blue;
    background-color: lightgray;
    left: 450px;
    top: 80px;
    text-align: center;
    margin-top: 15px;
}

#radar_chart p{
    font-size: 36px;
    position: relative;
    top: -10px;
}

#myChart {
    max-height: 500px;
    position: relative;
    top: -25px;
}



/* 
    Playlist view CSS
*/

.playlist_hide{
    display: none;
}


#playlist_details{
    border: 3px solid blue;
    height: 600px;
    width: 1592px;
    margin-top: 10px;
    background-color: lightgray;
}

#playlist_details table{
    position: absolute;
    top: 200px;
}

#playlist_details tbody *{
    border: 3px solid blue;
}

#playlist_details h1{
    text-align: center;
    margin-left: 12px;
}

#playlist_table_stats{
    font-size: 24px;
    position: absolute;
    margin-left: 12px;
    text-align: center;
}


#playlist_title{
    padding-left: 100px;
    padding-right: 100px;
}

#playlist_artist{
    padding-left: 100px;
    padding-right: 100px;
}

#playlist_year{
    padding-left: 50px;
    padding-right: 50px; 
}

#playlist_genre{
    padding-left: 50px;
    padding-left: 50px;
}

#playlist_popularity{
    padding-left: 50px;
    padding-left: 50px;
}

/* removes every song in playlist*/
#remove_playlist{
    position: absolute;
    right: 250px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* removes specific songs*/
#clear_playlist{
    position: absolute;
    right: 250px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 235px;
    right: 100px;
    border: 3px solid blue;  
}